.Gif{
    border: 1px solid #eee;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 12px;
    padding: 30px;
    text-decoration: none;
    color: whitesmoke;
}

.Gif img{
    object-fit: contain;
}
.Gif a {
    text-decoration: none;
    color: blue;
}